body {
  margin: 0;
  font-family: 'Circular Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Circular Pro';
  src: local('Circular Pro'),
    url(../fonts/lineto-circular-pro-book.woff) format('woff');
}
